<li class="product-item">
  <div class="product-img">
    <a href="{{url}}" target="blank">
      <img src="{{image}}" alt="{{title}}" width="240">
    </a>
  </div>
  <div class="product-caption">
    <h3 class="product-header">{{title}}</h3>
    <div class="product-description">
      <p class="description">Описание:</p>
      <p class="description">{{description}}</p>
    </div>
    <div class="actions">
      <button class="mdc-btn js-delete-button" type="submit" cardname="{{url}}">Удалить</button>
    </div>
  </div>
</li>
